{% extends "layout.html" %}
{% block body %}

	{% for book in recommended: %}
		{% 'title' in book and 'description' in book and 'images' in book and 'thumbnail' in book['images']: %}

			<div class="one-third column book">
				<h3><a href="{{ book['infoLink'] }}">
					{% if len(book['title']) > 30: %}
						{{ book['title'][:27] }}
						[...]
					{% else: %}
						{{ book['title'] }}
					{% endif %}
				</a>
				</h3>
				<div class="book_cover">
					<img class="cover" src="{{ book['images']['thumbnail'] }}"/>
				</div>
				<p>{{ book['description'] }}</p>
			</div>
		{% endif %}
	{% endfor %}
{% endblock %}