{% extends "layout.html" %}
{% block body %}

	{% for book in recommended: %}

		{% if 'title' in book and 'description' in book and 'images' in book and 'thumbnail' in book['images']: %}
			<div class="one-third column book">
				<h3><a href="{{ book['infoLink'] }}">
					{{ book['title']|truncate(length=27, killwords=False, end='...') }}
				</a>
				</h3>
				<div class="book_cover">
					<img class="cover" src="{{ book['images']['thumbnail'] }}"/>
				</div>
				<p>{{ book['description'] }}</p>
			</div>
		{% endif %}
	{% endfor %}
{% endblock %}